<div class="fixed top-[3.25rem] lg:top-[4.3rem] inset-x-0 z-[9999] pointer-events-none">
  <% if (error && error.length> 0) { %>
    <div
      class="flex justify-between pointer-events-auto mx-auto mt-3 w-11/12 max-w-xl rounded-md border border-red-400 bg-red-100 px-4 py-3 text-red-800 shadow-lg"
      role="alert">
      <strong class="font-semibold">
        <%= error[0] %>
      </strong>

      <button type="button" class="right-3 top-3 text-red-800 hover:text-red-900"
        onclick="this.parentElement.remove()">
        ✕
      </button>
    </div>
    <% } %>
      <% if (success && success.length> 0) { %>
        <div
          class=" flex justify-between pointer-events-auto mx-auto mt-3 w-11/12 max-w-xl rounded-md border border-green-400 bg-green-100 px-4 py-3 text-green-800 shadow-lg"
          role="alert">
          <strong class="font-semibold">
            <%= success[0] %>
          </strong>

          <button type="button" class=" right-3 top-3 text-green-800 hover:text-green-900"
            onclick="this.parentElement.remove()">
            ✕
          </button>
        </div>
        <% } %>
</div>