<footer class="bg-gray-200">
  <div class="flex justify-center items-center gap-3 text-xl py-4">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-linkedin-in"></i>
  </div>
  <div class="flex justify-center items-center ">&copy;Wanderlust Pvt. Ltd</div>
  <div class="flex justify-center items-center py-4 gap-3">
    <a href="/" class="hover:underline">privacy</a>
    <a href="/" class="hover:underline">About</a>
    <a href="/" class="hover:underline">Term</a>
  </div>
</footer>
