<% layout('/layouts/boilerplate.ejs') %>
<div
  class=" text-3xl h-screen px-10 w-full flex items-center justify-center gap-2 sm:gap-3 rounded-md bg-red-50 px-3 py-2 sm:px-4 sm:py-3 text-2xl sm:text-3xl md:text-3xl text-red-800"
  role="alert"
>
  <i class="fa-solid fa-circle-exclamation"></i>
  <span class="leading-snug sm:leading-normal">
    <%=err.message%>
  </span>
</div>
